body{
    font-family: sans-serif;
}
header{
    margin-top: 100px;
}
.container-fluid{
    padding:15px 120px;
}
.nav-link{
    margin: 0 15px;
}
.btn{
    background-color: rgb(18, 146, 238);
    color: white;
}
.navbar-brand{
    display: block;
    height: 45px;
    margin: 0px 25px 0px 0px;
    padding: 5px 0px 10px;
    width: 152px;
    background: url(../assets/images/logo.svg) 0px 5px / 100% no-repeat;
}
.content{
padding-left:150px;

}
.video{
    overflow: hidden; 
}
@media(max-width: 992px) {
  .content {
   
    padding-left: 50px;
  }
}
@media(max-width: 992px) {
  .video {
    padding-top: 100px;
    
  }
}


.content h5{
    line-height: 40px;
}
.content input{
    margin-top: 20px;
    width:50%;
    height: 50px;
    border-radius:  4px 0 0 4px;
    border: 1px solid rgb(110, 109, 109);
}
.content button{
   border-radius:  0 4px 4px 0;
    height: 50px;
}
.content a{
   text-decoration: none;
}


.client img{
    margin-top: 30px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.5;
}
.gif-text{
    margin-top: 200px;
}
.gif-text h2{
    position: relative;
    margin: 0px;
   
}
.gif-text h2::before{

    content: "";
    display: block;
    position: absolute;
    background: url(../assets/images/sparkle-left-0c2b7cee67ece56b831e22a1c90fb0b9.gif) left top / 75px 111px no-repeat;
    height: 111px;
    right: 0px;
    z-index: -999;
    top: -40px;
    width: 75px;

}
.gif-text h2::after{
     content: "";
    display: block;
    position: absolute;
    background: url(../assets/images/sparkle-left-0c2b7cee67ece56b831e22a1c90fb0b9.gif) left top / 75px 111px no-repeat;
    height: 111px;
     z-index: -999;
    left: 0px;
    top: -40px;
    width: 75px;
}
.email{
    margin-top: 130px;
    margin-bottom: 350px;
}
.email-content{
    margin-top: 160px;
}

.email img{
    
    margin-left: 80px;
}


 .top-img{

    position: absolute;
   
   right: 20px;
   top: 60px;
   

      width: 200px;
   height: auto;
}
.bg-color::before{
        content: "";
    display: block;
    position: absolute;
    top: 0px;
    z-index: -999;
    width: 70%;
    height: 700px;
    border-radius: 6px;
    left: 300px;
    right: 0px;

    background: linear-gradient(
90deg
, rgb(249, 250, 250) 0px, rgba(249, 250, 250, 0) 100%);
}
.Knowledge{
    margin-bottom: 200px;
}
.Knowledge-content{
    margin-top: 200px;
}
.Knowledge-content img{
    margin-top: 200px;
    margin-left: 200px;
}
@media(max-width: 992px) {
  .Knowledge-content img {
    display: none;
    
  }
}
.bg-kgn::before {
    content: "";
    display: block;
    position: absolute;
    top: 380px;
    right: 0px;
    left: 0px;
    width: 100%;
    height: 60%;
    
    z-index: -999;
    background: rgb(249, 250, 250);
}
.live-content{
    margin-top: 250px;
}
.live{
    margin-bottom: 200px;
}
.bg-kgn video{
   
    box-shadow:   0px 19px 57px -29px rgba(0,0,0,0.75);
}  
.btm-img{
    width: 100%;
    height: auto;
    margin-left: 100px;
    margin-bottom: -300px;
}

.report{
    margin-top: 150px;
}
.report img{
     box-shadow:   0px 19px 57px -29px rgba(0,0,0,0.75);
}
.report-content{
    margin-top: 100px;
}
.int-bg::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    z-index: 0;
    width: 70%;
    height: 100%;
    z-index: -999;
    border-radius: 6px;
    left: 250px;
    right: 0px;
    background: linear-gradient(
90deg
, rgb(249, 250, 250) 0px, rgba(249, 250, 250, 0) 100%);
}
.Integrations{
    margin-top: 100px;
}
footer{
    background-color: rgb(29, 43, 54);
    
    color: white;
}
.footer-icon{
    width: 25px;
    height: auto;
}

footer ul li{
    list-style: none;
   color: rgb(155, 148, 148);
   font-size: small;
   line-height: 30px;
   cursor: pointer;
}
footer ul li span{
    background: rgb(18, 146, 238) !important;
    color: white !important;
}
footer ul li #span{
    background: rgb(103, 128, 153) !important;
    color: rgb(226, 224, 224) !important;
}
footer h5{
    padding-left: 40px;
}
footer ul li:hover{
    
   color: white;
}
footer hr{
    background-color:rgb(155, 148, 148) ;
}

